body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 0;
}

.appointment-btn,
.book-appointment {
  font-family: 'Raleway', sans-serif;
}

.slogan,
.phone-number {
  font-style: italic;
  font-size: 1em;
}

a {
  text-decoration: none;
}

h1,
h3 {
  font-weight: 900;
}

h1 {
  font-size: 4em;
}

h3, .slogan {
  font-size: 1.5em;
}

.location,
.hours,
.contact {
  text-align: center;
}

/* .sticky-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}
*/

.sticky-nav {
  background: #fff;
  position: fixed;
  /* Changed from sticky to fixed */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.3s ease-in-out;
}

.sticky-nav.scrolled {
  border-bottom-color: gray;
}

/*
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; */
/* padding: 10px 20px; */
/*
  height: 60px;
}
*/

.navbar {
  width: 100%;
  /* Ensure the navbar takes the full width */
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 10px;
}

.logoaddress {
  display: flex;
  justify-content: space-between;
}

.mobilenavaddress {
  display: none;
}

.logo {
  width: 50px;
  margin-right: 10px;
  /* Adjust as necessary for your logo */
}

.appointment-btn {
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 20px;
}

.hero {
  position: relative;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 150px 20px; */
  /* Adjust padding to account for the sticky nav */
  background-image: url('hero-background.png');
  background-size: cover;
  background-position: center;
  background: transparent;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  /* White overlay with 50% opacity */
  z-index: 1;
  /* Ensure it's below the content */
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('hero-background.png');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  /* Set the opacity of the background image */
  z-index: -1;
  /* Place it behind the content */
}

.hero-content {
  position: relative;
  z-index: 2;
  /* Above the overlay */
}

.hero-content h1,
.hero-content .slogan,
.hero-content .phone-number {
  color: #000;
}

.book-appointment {
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
  border-radius: 20px;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: #f8f8f8;
}

.footer h3,
.footer p {
  margin: 5px 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    height: 60px;
  }

  h1 {
    font-size: 3em;
  }

  h3, .slogan {
    font-size: 1.3em;
    font-weight: 900;
  }

  .navaddress {
    display: none;
  }

  .mobilenavaddress {
    display: block;
  }

  /* .hero-content {
    padding-top: 20px;
  }
  */

  .hero {
    padding: 60px 20px;
    /* Adjust padding for mobile */
    height: calc(100vh - 120px);
    /* Adjust for mobile navbar height */
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }
}